<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="google-site-verification" content="sDqksx8Hg0k2XqnnmIIm1edh2gEJ_gSiI1ytZk6AYMY" />
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">	
<link rel="stylesheet" href="/css/default.css" type="text/css" media="screen" charset="utf-8" />
<link rel="shortcut icon" href="/img/favicon.ico" sizes="16x16 32x32 64x64 128x128" type="image/vnd.microsoft.icon"/>
<title>Itadinanta - rnkr - {{ page.title }}</title>
</head>
<body>
	<div id="page">
		<div id="shadow">
			<div id="header">
				<h1>{{ page.title }}</h1>
			</div>
			<div id="content">
				<div id="pageindex">
				{% for p in site.data.pages %}<span class="links"><a href="/{{ p.name }}">{{ p.label }}</a></span>{% endfor %}
				</div>
				<div id="pagecontent">
				{{ content }}
				</div>
			</div>
			<div id="footer">
				&copy; 2015 <a href="http://itadinanta.net">Nico Orru</a>
			</div>
		</div>
	</div>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-67108709-3', 'auto');
	  ga('send', 'pageview');
	</script>
</body>
</html>
